.table-board[b-d67ef1i9ra] {
    background-color: #f8f9fa;
    border-radius: 8px;
    min-height: 70vh;
}

.table-column[b-d67ef1i9ra] {
    background-color: #e9ecef;
    border-radius: 8px;
    padding: 1rem;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}

.column-cards[b-d67ef1i9ra] {
    min-height: 200px;
}

.btn-hover:hover[b-d67ef1i9ra] {
    color: black;
}

@media (max-width: 576px) {
    .table-board[b-d67ef1i9ra] {
        padding: 0.5rem;
    }
    
    .table-column[b-d67ef1i9ra] {
        padding: 0.75rem;
    }
}